body{
    background-color: black;
}
.c{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    text-align: center;
}
.van{
    display: flex;
}
main{
    width:40%
}
aside{
    width:20%;
}
content{
    width: 40%;
}
 
.grid-container{
    margin-left: 10px;
    display: grid;
    grid-template-columns: auto auto ;
    column-gap: 10px;
    row-gap: 10px;
    /* border: 1px solid black; */
    
}
.grid-item img{
    background-color: black;
    backface-visibility: visible;
    border-radius: 50%;
    border: 2px solid black;
}
 
.d{
    background-color:white;
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    list-style-type: square;
}
li{
    color: white;
    font-size: 30px;
}
.g{
     background-color: white;
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.w{
    color: white;
    font-size: 20px;
}
footer{
    color: white;
    text-align: center;
}